#my-custom-banner {
  font-family: "Arial", sans-serif; /* Choose a font that matches the website */
  position: relative; /* Adjust as necessary based on the page's layout */
  width: 100%; /* Full width */
  max-width: 600px; /* Or the width you prefer */
  margin: 20px auto; /* Centering the banner */
  padding: 20px; /* Padding inside the banner */
  background-color: white; /* Green background */
  color: black; /* White text */
  border-radius: 10px; /* Rounded corners */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: if you want shadow */
}
.banner-icon {
  width: 40px; /* or the size you prefer */
  height: auto;
  margin-right: 10px; /* to create some space between the image and the text */
}

.resume-match {
  background-color: #fff; /* White background for the match percentage box */
  border-radius: 10px; /* Rounded corners */
  padding: 5px 15px; /* Padding inside the match box */
  margin-left: 10px; /* Space between the text and the match box */
  color: black;
}

.progress-bar {
  background-color: #f1f1f1; /* Light grey background */
  border-radius: 10px; /* Rounded corners */
  width: 50%; /* Width of the progress bar */
  height: 20px; /* Height of the progress bar */
}

.progress {
  background-color: #fff; /* White progress indicator */
  width: 53%; /* Percentage of the progress */
  height: 100%;
  border-radius: 10px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px; /* Larger close button */
  color: #fff; /* White close button */
  cursor: pointer;
}

.take-test-button {
  float: right;
  font-weight: 500;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-family: "Suisse Int'l", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  font-style: normal;
  height: 40px;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  padding: 0px 12px;
  width: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(187, 189, 209);
  border-radius: 4px;
  color: rgb(31, 32, 44);
}

.take-test-button:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(96, 99, 132);
  box-shadow: rgba(50, 7, 171, 0.04) 0px 1px 2px,
    rgba(3, 15, 178, 0.04) 0px 2px 4px;
}

.box-container {
  display: flex;
  justify-content: space-between;
}
.box {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  min-width: 200px;
  cursor: pointer;
}
.box:not(:last-child) {
  margin-right: 20px;
}
.shimmer-loader {
  height: 100px;
  background: #f6f7f8;
  position: relative;
  overflow: hidden;
}

.shimmer-loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 100%;
  }
}
